body#login {
	background: url(../images/photo_bg.jpg);
	background-size: cover;
}
body {
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #666;
}

p.small {
	font-size: 0.8em;
	margin: 20px 0 0;
}
#sidenav .navbar-nav .nav-item a.nav-link {
	text-align: left !important;
    padding-left: 25px !important;
}

div.panel-info {
	margin-bottom: 30px;
}
div.panel-info div.title-grade {
	padding: 10px 5px;
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    background-color: #097bff;
    border-radius: 3px 3px 0 0;
}

.subject-options {
	text-align:right;
	float:right;
}
.subject-options form {
	display: inline-block;
}

/* Layout */
.container {
	margin: 0;
}

.top {
	margin: 0;
	padding: 0;
	width: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.login-box {
	background-color: white;
	max-width: 340px;
	margin: 0 auto;
	position: relative;
	top: 80px;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;
}

.login-box .box-header {
	background-color: rgba(20, 118, 224, 0.84)!important;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
}

.login-box label {
	font-weight: 700;
	font-size: .8em;
	color: #888;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}

.login-box input {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .9em;
	color: #888;
}

.login-box input:focus {
	outline: none;
	border-color: #665851;
	transition: 0.5s;
	color: #665851;
}

.login-box button {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: rgba(20, 118, 224, 0.84)!important;
	cursor:pointer;
	outline: none;
}

.login-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.login-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}
#formulario-login .form-label {
	display: block;
}
#formulario-login .form-control {
	display: block;
	margin: 0 auto;
}
#formulario-login .form-group {
	text-align: center;
	margin-bottom: 20px;
}


.selected {
	color: #3c5fe8!important;
	transition: 0.5s;
}

/* Animation Delay */
#logo {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
}

.login-box {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

.page-subtitle {
	font-size: 1.8em;
}

/* Página de estadisticas de asignatura */
.buttons {
	margin-bottom: 30px;
}
.buttons #btn-addProfe {
	display: inline-block;
}
.buttons .btn-volver {
	float: left;
    background: #a7a4a4;
    color: #fff !important;
    margin-right: 10px;
    border: 1px solid #a7a4a4;
}
div.panel.panel-info .list-group-item {
	min-height: 64px;
}
div.panel.panel-info .list-group-item a {
	padding: 7px 10px;
}

/* Listas de estadisticas */
div.stats-control {
	background: #f5f5f5;
    min-height: 50px;
    margin-bottom: 30px;
}
div.stats-control div.stats-types {
	padding: 20px 10px;
}
ul.stats-types-list {
	list-style: none;
    padding: 0;
    margin: 0;
}
ul.stats-types-list li.stats-type {
	display: inline-block;
	padding: 10px;
}
ul.stats-types-list li.stats-type a.stats-type-element {
	color: #034a94;
}
ul.stats-types-list li.stats-type a.stats-type-element:hover {
	color: #000;
	text-decoration: unset;
}
table#tabla-profesores td, 
table#tabla-asignaturas tr td {
	vertical-align: middle;
}

/* Perfil de Profesor */
h3.asignaturas {
	border-bottom: 1px solid #333;
	margin-bottom: 25px;
}
table#docencia-profesor {
	width: 100%;
}
table#docencia-profesor thead {
	border-bottom: 1px solid #cccccc;
}
table#docencia-profesor tbody tr {
	line-height: 2.7;
}
div#informacion-profesor {
	margin-bottom: 35px;
}
div#informacion-profesor .panel {
	background: #f5f5f5;
	padding: 20px 0;
}
div#informacion-profesor ul.profesor-data {
	list-style: none;
	padding: 0;
	margin: 0;
}
div#informacion-profesor ul.profesor-data li b {
	font-weight: bold;
}